In [62]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import plotly.express as px
import plotly.graph_objects as go
import seaborn as sns

In [63]:
df=pd.read_csv('dsp1.csv')

In [64]:
df.columns

Index(['Job Title', 'Salary Estimate', 'Job Description', 'Rating',
       'Company Name', 'Location', 'Headquarters', 'Size', 'Founded',
       'Type of ownership', 'Industry', 'Sector', 'Revenue', 'Competitors',
       'Easy Apply', 'Min_salary', 'Max_salary'],
      dtype='object')

In [65]:
df.head()

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,Easy Apply,Min_salary,Max_salary
0,Senior Data Scientist,111 -181,"ABOUT HOPPER\n\nAt Hopper, we’re on a mission ...",3.5,Hopper\n3.5,"New Yor, NY","Montreal, Canada",501 to 1000 employees,2007,"Company , Private",Travel Agencies,Travel & Tourism,"Unnown / Non , Applicable",-1,-1,111,181
1,"Data Scientist, Product Analytics",111 -181,"At Noom, we use scientifically proven methods ...",4.5,Noom US\n4.5,"New Yor, NY","New Yor, NY",1001 to 5000 employees,2008,"Company , Private","Health, Beauty, & Fitness",Consumer Services,"Unnown / Non , Applicable",-1,-1,111,181
2,Data Science Manager,111 -181,"Decode_M\n\nhttps://www.decode , m.com/\n\nDa...",-1.0,Decode_M,"New Yor, NY","New Yor, NY",1 to 50 employees,-1,Unnown,-1,-1,"Unnown / Non , Applicable",-1,TRUE,111,181
3,Data Analyst,111 -181,Sapphire Digital sees a dynamic and driven mid...,3.4,Sapphire Digital\n3.4,"Lyndhurst, NJ","Lyndhurst, NJ",201 to 500 employees,2019,"Company , Private",Internet,Information Technology,"Unnown / Non , Applicable","Zocdoc, Healthgrades",-1,111,181
4,"Director, Data Science",111 -181,"Director, Data Science , (200537)\nDescript...",3.4,United Entertainment Group\n3.4,"New Yor, NY","New Yor, NY",51 to 200 employees,2007,"Company , Private",Advertising & Mareting,Business Services,"Unnown / Non , Applicable","BBDO, Grey Group, Droga5",-1,111,181

In [66]:
df['Avg_salary'] =  ((df.Min_salary+df.Max_salary)/2)

In [67]:
df['Avg_salary']

0       146.0
1       146.0
2       146.0
3       146.0
4       146.0
        ...
3904     83.5
3905     83.5
3906     83.5
3907     83.5
3908     83.5
Name: Avg_salary, Length: 3909, dtype: float64

In [68]:
df['Job_state'] = df['Location'].apply(lambda x: x.split(',')[1])
df.Job_state.value_counts()
df['Job_state']

0        NY
1        NY
2        NY
3        NJ
4        NY
       ...
3904     OH
3905     OH
3906     OH
3907     OH
3908     OH
Name: Job_state, Length: 3909, dtype: object

In [69]:
df['Job_city'] = df['Location'].apply(lambda x: x.split(',')[0])

df['Job_city']

0         New Yor
1         New Yor
2         New Yor
3       Lyndhurst
4         New Yor
          ...
3904       Dublin
3905     Columbus
3906       Dublin
3907       Dublin
3908       Slough
Name: Job_city, Length: 3909, dtype: object

In [70]:
df['headquarters_city'] = df['Headquarters'].apply(lambda x: x.split(',')[0])
df['headquarters_city']
df['Same_state_hq_jl'] = df.apply(lambda x:1 if x.Location == x.Headquarters else 0 , axis=1)
df['Same_state_hq_jl']

0       0
1       1
2       1
3       1
4       1
       ..
3904    0
3905    0
3906    0
3907    0
3908    0
Name: Same_state_hq_jl, Length: 3909, dtype: int64

In [71]:
df['Age']= df.Founded.apply(lambda x:x if x<1 else 2020-x)
df['Age']

0       13
1       12
2       -1
3        1
4       13
        ..
3904     9
3905    12
3906    43
3907    -1
3908    -1
Name: Age, Length: 3909, dtype: int64

In [73]:
df['python_jd']= df['Job Description'].apply(lambda x: 1 if 'python' in x.lower() else 0 )
df.python_jd.value_counts()

1    2057
0    1852
Name: python_jd, dtype: int64

In [87]:
df['Sql']= df['Job Description'].apply(lambda x: 1 if 'sql'  in x.lower() or 'query' in x.lower() else 0 )
df.Sql.value_counts()

1    2077
0    1832
Name: Sql, dtype: int64

In [75]:
df['aws']= df['Job Description'].apply(lambda x: 1 if 'aws'  in x.lower() or 'amazon' in x.lower()  else 0 )
df.aws.value_counts()

0    2865
1    1044
Name: aws, dtype: int64

In [76]:
df['visualization']= df['Job Description'].apply(lambda x: 1 if 'visualize '  in x.lower() or 'tableau' in x.lower() or 'visualization' in x.lower()  else 0 )
df.visualization.value_counts()

0    2710
1    1199
Name: visualization, dtype: int64

In [77]:
df['Project_Management']= df['Job Description'].apply(lambda x: 1 if 'project management'  in x.lower() or 'team work' in x.lower() or 'project' in x.lower()  else 0 )
df.Project_Management.value_counts()

1    2042
0    1867
Name: Project_Management, dtype: int64

In [78]:
df['Excel']= df['Job Description'].apply(lambda x: 1 if 'excel'  in x.lower() or 'Ms' in x.lower() else 0 )
df.Excel.value_counts()

0    2054
1    1855
Name: Excel, dtype: int64

In [81]:
df['Hadoop']= df['Job Description'].apply(lambda x: 1 if 'hadoop'  in x.lower()  else 0 )
df.Hadoop.value_counts()

0    3272
1     637
Name: Hadoop, dtype: int64

In [88]:
df['Machine Learning']= df['Job Description'].apply(lambda x: 1 if 'machine learning'  in x.lower()  else 0 )
df['Machine Learning'].value_counts()

0    2592
1    1317
Name: Machine Learning, dtype: int64

In [91]:
df['Ai']= df['Job Description'].apply(lambda x: 1 if 'artifical intelligence'  in x.lower() or 'ai' in x.lower() else 0 )
df.Ai.value_counts()

1    3527
0     382
Name: Ai, dtype: int64

In [92]:
df['Unstructured Data']= df['Job Description'].apply(lambda x: 1 if 'unstructured '  in x.lower()  else 0 )
df['Unstructured Data'].value_counts()

0    3609
1     300
Name: Unstructured Data, dtype: int64

In [102]:
df['java']= df['Job Description'].apply(lambda x: 1 if 'java'  in x.lower()  else 0 )
df['java'].value_counts()

0    3117
1     792
Name: Teamwork, dtype: int64

In [95]:
df['communication']= df['Job Description'].apply(lambda x: 1 if 'communication'  in x.lower() or 'storytelling' in x.lower() else 0 )
df['communication'].value_counts()

0    1975
1    1934
Name: communication, dtype: int64

In [103]:
df.head()

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,...,aws,visualization,Project_Management,Excel,Hadoop,Machine Learning,Ai,Unstructured Data,communication,Teamwork
0,Senior Data Scientist,111 -181,"ABOUT HOPPER\n\nAt Hopper, we’re on a mission ...",3.5,Hopper\n3.5,"New Yor, NY","Montreal, Canada",501 to 1000 employees,2007,"Company , Private",...,0,1,1,0,0,1,1,0,0,0
1,"Data Scientist, Product Analytics",111 -181,"At Noom, we use scientifically proven methods ...",4.5,Noom US\n4.5,"New Yor, NY","New Yor, NY",1001 to 5000 employees,2008,"Company , Private",...,0,0,0,1,0,1,1,0,1,0
2,Data Science Manager,111 -181,"Decode_M\n\nhttps://www.decode , m.com/\n\nDa...",-1.0,Decode_M,"New Yor, NY","New Yor, NY",1 to 50 employees,-1,Unnown,...,0,0,1,1,0,1,1,0,0,0
3,Data Analyst,111 -181,Sapphire Digital sees a dynamic and driven mid...,3.4,Sapphire Digital\n3.4,"Lyndhurst, NJ","Lyndhurst, NJ",201 to 500 employees,2019,"Company , Private",...,0,1,1,1,0,0,1,0,1,0
4,"Director, Data Science",111 -181,"Director, Data Science , (200537)\nDescript...",3.4,United Entertainment Group\n3.4,"New Yor, NY","New Yor, NY",51 to 200 employees,2007,"Company , Private",...,0,0,1,1,0,1,1,0,1,0

In [104]:
df.to_csv("Data_Scientist_cleaned.csv")